Django
PyJWT
cos-python-sdk-v5
django-celery
django-cors-middleware
django_redis
djangorestframework
djangorestframework-simplejwt
gevent
gunicorn
mysqlclient
pysha3
python-decouple
qcloudsms_py
redis
requests