beautifulsoup4
captcha
celery
coreapi
cos-python-sdk-v5
Django
django-cors-headers
django-cors-middleware
django-filter
django-log-request-id
django-rest-swagger
django_redis
djangorestframework
djangorestframework-simplejwt
eventlet
ffmpeg-python
gevent
gunicorn
lxml
numpy
psycopg2-binary
pycryptodome
PyJWT
python-decouple
python-json-logger
qcloudsms_py
redis
requests
requests_futures
watchdog
xlrd
