Django
PyJWT
celery
cos-python-sdk-v5
django-cors-middleware
django_redis
djangorestframework
djangorestframework-simplejwt
eventlet
gevent
gunicorn
mysqlclient
pysha3
python-decouple
qcloudsms_py
redis
requests